body{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	min-height: 100vh;
	background: linear-gradient(35deg, #a1c2ea, #c2e9f0);
  }
  
  *{
	  font-family:Nunito, sans-serif;
	}
	.responsive-container-block{
	  display:flex;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	}
  
	.inner-container{
	  margin-top:50px;
	  margin-right:auto;
	  margin-bottom:50px;
	  margin-left:auto;
	}
	.text-1{
	  font-size: 45px;
	  font-weight: 800;
	  line-height: 65px;
	  color:rgb(0, 135, 177);
	  margin:0 0 10px 0;
	}
	.text-2{
	  font-size: 20px;
	  color:rgb(153, 153, 153);
	  line-height:35px;
	}
  
	.card1999{
	  position: relative;
	  display: inline-block;
	  margin: 10px;
	  max-width: 302px;
	  width: 100%;
	  text-align: center;
	}
	.card1999 * {
	  box-sizing: border-box;
	}
  
	.logo{
	  width: 100%;
	}
	.logo img {
	  max-width: 100%;
	  vertical-align: top;
	  position: relative;
	  border-radius: 50%;
	  max-width: 100%;
	}
	.icon-links{
	  display: inline-block;
	  margin-right: 5px;
	}
  
	.name{
	  font-size:25px;
	  font-weight:700;
	  color:rgb(102, 102, 102);
	  margin-top:0px;
	  margin-right:0px;
	  margin-bottom:5px;
	  margin-left:0px;
	}
	.position{
	  font-size:25px;
	  font-weight:700;
	  color:rgb(0, 135, 177);
	  margin-top:0px;
	  margin-right:0px;
	  margin-bottom:50px;
	  margin-left:0px;
	}
